.env
launch.json

# ignore clearcase files
lost+found
.copyarea.*
*.keep
*.loading
*.merge?
harvest.sig

# ignore .class files
*.class
dist

# ignore packaged files #
*.jar
*.war
*.ear
*.tar
*.tar.gz
*.tgz
*.rar
*.zip
*.exe

# ignore the target directory and all children
target/

# ignore the generated-sources directory and all children
generated-sources/

# ignore scripts/helper
scripts/helper

scripts/ivs-hierarchy
scripts/.version
# ignore the eclipse configuration files
.settings/
# ignore other eclipse files as these aspects are managed by the Maven pom.xml
.classpath
.project

# ignore Frameworks appCtx.properties file from the EAR deployment
#   this file will be generated into this location using the replacer-plugin when
#   updating the build information.
APP-INF/classes/appCtx.properties

#ignore nodejs stuff
/node_modules/
npm-debug.log
*.log
# production
/build
/generated

# misc
.DS_Store
.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*


yarn.lock
/.importjs.json

.notes

output/coverage/junit/junit.xml
output/coverage/integration/integrationtest.xml

.idea
chart/ivs-hierarchy/config
/.vs
/cert
.history/*
src/.history/*
