<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="haaAssignedTollfreeMapper">

  <select id="findByFilters">
    SELECT
        to_char(a.entity_node_id)               entity_node_id,
        to_char(a.hn_id)                        hn_id,
        b.entity_seq_id,
        b.entity_id,
        c.tf_number                             tollfree_number,
        c.tf_vanity                             tollfree_vanity_number,
        to_char(a.effective_date, 'yyyy-mm-dd') effective_date,
        ( d.ntp_id - 4 )                        nodelevel,
        d.nde_name                              nodename,
        e.node_type                             nodetype,
        CASE 
          WHEN a.end_date IS NOT NULL OR e.node_type = 'ROOT' THEN 'N'
          <!-- can session user action on this record? -->
          ELSE (SELECT DECODE(COUNT(*), 0, 'N', 'Y')
                  FROM haa_user_hierarchy_roles ee,
                      (SELECT r.role_id
                          FROM haa_role_privileges rp, haa_roles r, haa_privileges p
                        WHERE rp.Role_Id =  r.Role_id AND rp.Privilege_Id =  p.Privilege_Id AND p.description = 'ASSIGN-TF-ENTITY') ff
                WHERE ee.role_id = ff.role_id
                  AND ee.user_id = #{loginUserId}
                  AND (ee.hn_id = d.id
                      OR (ee.cascading = 'Y'
                            AND ee.hn_id IN (
                                  SELECT gg.id
                                    FROM cerpt_hierarchy_nodes gg
                                  WHERE gg.id != d.id
                                  START WITH gg.id = d.id
                                CONNECT BY gg.id = PRIOR parent_hierarchy_id
                              ))))
        END AS can_unassign_indicator
    FROM
        haa_node_entities     a,
        haa_entities          b,
        ttf_subscription      c,
        cerpt_hierarchy_nodes d,
        cerpt_nodes           e
    WHERE
            a.entity_seq_id = b.entity_seq_id
        AND b.entity_id = c.tf_subscription_id
        AND a.hn_id = d.id
        AND b.entity_type = 'TFNUM'
        AND e.id = d.nde_id
        AND a.end_date is null
        AND d.corp_id = ${corporationId}
        <!-- web indicator should be true for it to show up on hierarchy -->
        AND c.conf_mgmt = 1
      <if test="tollfreeNumber">
        AND c.tf_number LIKE '%${tollfreeNumber}%'
      </if>
      <if test="parentHierarchyNodeName">
        AND lower(d.nde_name) LIKE lower(q'[%${parentHierarchyNodeName}%]')
      </if>
      <if test="parentHierarchyNodeLevel != null">
        AND ( d.ntp_id - 4 ) = ${parentHierarchyNodeLevel}
      </if>
      <if test="parentHierarchyNodeId">
        AND a.hn_id = ${parentHierarchyNodeId}
      </if>
        AND EXISTS (
        SELECT 1
        FROM haa_user_hierarchy_roles ee,
            (SELECT r.role_id
                FROM haa_role_privileges rp, haa_roles r, haa_privileges p
                WHERE rp.Role_Id =  r.Role_id AND rp.Privilege_Id =  p.Privilege_Id AND p.description = 'VIEW-NODE') ff
        WHERE ee.role_id = ff.role_id
        AND ee.user_id = #{loginUserId}
        AND (ee.hn_id = d.ID
            OR (ee.cascading = 'Y'
                    AND ee.hn_id IN (
                        SELECT gg.id
                            FROM cerpt_hierarchy_nodes gg
                        WHERE gg.id != d.ID
                        START WITH gg.id = d.ID
                        CONNECT BY gg.id = PRIOR parent_hierarchy_id
                    )
                )
            )
        )
  </select>

  <select id = "findByFiltersWithPagination">
      WITH RECORDSET AS (
         <include refid="findByFilters"/>
      ), 
      NUMBERED AS (
         SELECT 
         ROW_NUMBER() 
         OVER (  
            <foreach collection="sortConditions" index="index" item="item" open="ORDER BY " separator="," close="">
       			${item}
  			   </foreach>
         ) RN, 
         RECORDSET.*
         FROM RECORDSET)
      SELECT
         CEIL((SELECT COUNT(*) FROM NUMBERED) / ${paginationParam.limit}) TOTAL_PAGES, 
         (SELECT COUNT(*) FROM NUMBERED) TOTAL_ROWS,
         NUMBERED.*
      FROM NUMBERED
      WHERE RN BETWEEN (${paginationParam.offset}+1) AND (${paginationParam.offset}+${paginationParam.limit})
   </select>
</mapper>