
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hierarchyWtnListMapper">

    <select id ="findByFilters">
        SELECT
            TO_CHAR(cn.ID) AS ID,
            cn.WTN,
            cn.DESCRIPTION1,
            cn.EXCLUDE_FROM_REPORTS_FLAG,
            (chn.NTP_ID) AS NTP_ID,
            cba.BTN,
            TO_CHAR(chn.PARENT_HIERARCHY_ID) AS PARENT_HIERARCHY_ID,
            b.NDE_NAME AS PARENT_NODE_NAME,
            (b.NTP_ID) AS PARENT_NTP_ID,
            c.NODE_TYPE AS PARENT_NODE_TYPE,
            chn.EFFECTIVE_DATE,
            CASE 
              WHEN chn.end_date IS NOT NULL THEN 'N'
              ELSE (SELECT DECODE(COUNT(*), 0, 'N', 'Y')
                      FROM haa_user_hierarchy_roles ee,
                          (SELECT r.role_id
                             FROM haa_role_privileges rp, haa_roles r, haa_privileges p
                            WHERE rp.Role_Id =  r.Role_id AND rp.Privilege_Id =  p.Privilege_Id AND p.description IN ('MOVE-WTN')) ff
                    WHERE ee.role_id = ff.role_id
                      AND ee.user_id = ${loginUserId}
                      AND (ee.hn_id = chn.ID
                          OR (ee.cascading = 'Y'
                                AND ee.hn_id IN (
                                      SELECT gg.id
                                        FROM cerpt_hierarchy_nodes gg
                                      WHERE gg.id != chn.ID
                                      START WITH gg.id = chn.ID
                                    CONNECT BY gg.id = PRIOR parent_hierarchy_id
                                  ))))
            END AS CAN_MOVE_INDICATOR,
            CASE 
              WHEN chn.end_date IS NOT NULL THEN 'N'
              ELSE (SELECT DECODE(COUNT(*), 0, 'N', 'Y')
                      FROM haa_user_hierarchy_roles ee,
                          (SELECT r.role_id
                             FROM haa_role_privileges rp, haa_roles r, haa_privileges p
                            WHERE rp.Role_Id =  r.Role_id AND rp.Privilege_Id =  p.Privilege_Id AND p.description IN ('VIEW-NODE')) ff
                    WHERE ee.role_id = ff.role_id
                      AND ee.user_id = ${loginUserId}
                      AND (ee.hn_id = chn.ID
                          OR (ee.cascading = 'Y'
                                AND ee.hn_id IN (
                                      SELECT gg.id
                                        FROM cerpt_hierarchy_nodes gg
                                      WHERE gg.id != chn.ID
                                      START WITH gg.id = chn.ID
                                    CONNECT BY gg.id = PRIOR parent_hierarchy_id
                                  ))))
            END AS CAN_VIEW_INDICATOR
        FROM
            CERPT_NODES cn
        LEFT JOIN CERPT_HIERARCHY_NODES chn ON
            cn.ID = chn.NDE_ID
        LEFT JOIN CERPT_HIERARCHY_NODES b ON
            b.ID = chn.PARENT_HIERARCHY_ID
        LEFT JOIN CERPT_NODES c ON
            b.NDE_ID = c.ID
        LEFT JOIN CERPT_BILLING_ACCOUNTS cba ON
            cba.id = cn.BAC_ID
        WHERE
            cn.ID = chn.NDE_ID
            <choose>
                <when test="corporationId AND parentHierarchyNodeId">
                    AND chn.PARENT_HIERARCHY_ID = #{parentHierarchyNodeId}
                    AND chn.CORP_ID = #{corporationId}
                </when>
                <when test="parentHierarchyNodeId">
                    AND chn.PARENT_HIERARCHY_ID = #{parentHierarchyNodeId}
                </when>
                <otherwise>
                    AND chn.CORP_ID = #{corporationId}
                </otherwise>
            </choose>
            <if test="parentHierarchyNodeId">
                AND chn.PARENT_HIERARCHY_ID = #{parentHierarchyNodeId}
            </if>
            <if test="parentHierarchyNodeName">
                AND LOWER(b.NDE_NAME) LIKE CONCAT('%', CONCAT(LOWER(q'[${parentHierarchyNodeName}]'), '%'))
            </if>
            <if test="parentHierarchyNodeLevel != undefined">
                AND b.NTP_ID = ${parentHierarchyNodeLevel} + 4
            </if>
            <if test="hierarchyNodeLevel != undefined">
                AND chn.NTP_ID = ${hierarchyNodeLevel} + 4
            </if>
            <if test="workingTelephoneNumber">
                <bind name="workingTelephoneNumber" value="'%' + workingTelephoneNumber + '%'" />
                AND cn.WTN LIKE #{workingTelephoneNumber}
            </if>
            <if test="billingTelephoneNumber">
                <bind name="billingTelephoneNumber" value="'%' + billingTelephoneNumber + '%'" />
                AND cba.BTN LIKE #{billingTelephoneNumber}
            </if>
            <if test="excludeFromReportsFlag">
                AND cn.EXCLUDE_FROM_REPORTS_FLAG = #{excludeFromReportsFlag}
            </if>
            AND cn.END_DATE IS NULL
            AND cn.NODE_TYPE = 'WTN'
            AND EXISTS (
                SELECT 1
                FROM haa_user_hierarchy_roles ee,
                    (SELECT r.role_id
                        FROM haa_role_privileges rp, haa_roles r, haa_privileges p
                        WHERE rp.Role_Id =  r.Role_id AND rp.Privilege_Id =  p.Privilege_Id AND p.description IN ('VIEW-NODE')) ff
                WHERE ee.role_id = ff.role_id
                AND ee.user_id = ${loginUserId}
                AND (ee.hn_id = chn.ID
                    OR ee.hn_id = chn.PARENT_HIERARCHY_ID
                    OR (ee.cascading = 'Y'
                            AND ee.hn_id IN (
                                SELECT gg.id
                                    FROM cerpt_hierarchy_nodes gg
                                WHERE gg.id != chn.ID
                                START WITH gg.id = chn.ID
                                CONNECT BY gg.id = PRIOR parent_hierarchy_id
                            )
                        )
                    )
                )
    </select>

    <select id = "findByFiltersWithPagination">      
      WITH RECORDSET AS (
         <include refid="findByFilters"/>
      ), 
      NUMBERED AS (
         SELECT 
         ROW_NUMBER() 
         OVER (  
            <foreach collection="sortConditions" index="index" item="item" open="ORDER BY " separator="," close="">
       			${item}
            </foreach>
         ) RN, 
         RECORDSET.*
         FROM RECORDSET)
      SELECT
         CEIL((SELECT COUNT(*) FROM NUMBERED) / ${paginationParam.limit}) TOTAL_PAGES, 
         (SELECT COUNT(*) FROM NUMBERED) TOTAL_ROWS,
         NUMBERED.*
      FROM NUMBERED
      WHERE RN BETWEEN (${paginationParam.offset}+1) AND (${paginationParam.offset}+${paginationParam.limit})
   </select>
</mapper>